@font-face {
  font-family: LobsterRegular;
  font-style: normal;
  font-weight: normal;
  src: url("/static/font/Lobster_1.3.otf") format("opentype");
}

@font-face {
  font-family: BebasNeueRegular;
  font-style: normal;
  font-weight: normal;
  src: url("/static/font/BebasNeue.otf") format("opentype");
}

:root {
  --color-highlight: 255, 0, 0;
  --color-ui-pri: #F4F4F4;
  --color-ui-sec: #19B5FE;
  --color-ui-ter: #C0B283;
  --color-ui-qua: #1F262E;
  --color-ui-qui: #808080;
  --color-ui-sen: #F26522;
  --color-ui-sep: #CCC;
  --color-ui-oct: #2B2B2B;
  --color-ui-non: #007FFF;
  --color-ui-ten: #003EFF;
  --color-ui-title-one: #FF4136;
  --color-ui-console-bg: #EEE8D5;
  --color-ui-console-fg: #002B36;
  --color-ui-console-normal: #268BD2;
  --color-ui-console-error: #DC322F;
  --color-ui-console-success: #859900;
  --color-ui-console-warning: #B58900;
  --color-ui-rss: #F26522;
  --controls-toggle-margin: 0 0 0 -2px;
  --controls-toggled-margin: -2px -2px 0 0;
  --color-ui-danger: #C63D0F;
  --color-ui-success: #4DB53C;
  --color-ui-warning: #FF8700;

  /* Relative to media */

  --beggar-width: 420px;
  --side-menu-width-expanded: 280px;
  --side-menu-width: -291px;
  --header-height: 24px;
  --controls-width: 150px;
  --controls-font-size: 16pt;
  --controls-toggle-size: 22px;
  --feed-title-font-size: 16pt;
  --panel-flex: row nowrap;
  --column-buttons-display: flex;
  --column-padding: 0 0 150px 0;
  --dialog-flex-direction: row;
  --handle-flex-shrink: 0;
  --handle-visibility: visible;
  --title-padding-top: 0;
  --title-margin-left: 0.2em;
  --columns: auto 3;
  --logo-display: inline;
}

@media screen and (max-width: 700px) {
  :root {
    --beggar-width: 100%;
    --side-menu-width-expanded: 90%;
    --side-menu-width: -999px;
    --header-height: 2.2em;
    --controls-width: 75%;
    --controls-font-size: 22pt;
    --controls-toggle-size: 28pt;
    --feed-title-font-size: 22pt;
    --panel-flex: column;
    --column-buttons-display: none;
    --column-padding: 0;
    --dialog-flex-direction: column;
    --handle-flex-shrink: 1;
    --handle-visibility: collapse;
    --title-margin-left: 0;
    --columns: auto;
    --logo-display: none;
  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

body {
  color: var(--color-fg1);
  background-color: var(--color-bg1);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a:link {
  color: var(--color-fg1);
  text-decoration: none;
}

a:visited {
  color: var(--color-fg3);
}

a:hover,
a:active {
  color: var(--color-fg2);
}

.feed-header .feed-controls div {
  margin: 0 2px 0 0;
}

.feed-header > .feed-toggle,
.feed-header .feed-controls div {
  text-align: center;
}

#load-spinner > div {
  color: var(--color-fg1);
  font-size: 12pt;
}

.fold {
  display: inline-block;

  /* transition: all 0.2s linear; */
  transform: rotate(-90deg);
}

.unfold {
  display: inline-block;
  transition: transform 0.2s linear;
  transform: rotate(90deg);
}

/* TOP Menu navBar */

.topnav {
  /* position: relative; */
  z-index: 20;
  background-color: var(--color-ui-qua);
  display: flex;
  flex-direction: row;
  /* color: var(--color-ui-sec); */
  overflow: hidden;
  height: 45px;
}

.topnav > div.menuBarItem {
  color: var(--color-ui-pri);
  text-align: center;
}

.topnav > div.menuBarButton{
  cursor: pointer;
}

.topnav .navLeft {
  order: 1;
}

.topnav .navCenter {
  order: 2;
  flex-grow: 5;
}

.topnav .navRight {
  order: 3;
}

.topnav > div.menuBarItem > i.topMenuIcon {
  display: block;
  color: var(--color-ui-sec);
  font-size: 16pt;
  margin: 8px 8px 8px 12px;
}

.topnav > div.menuBarItem > i.icon-reset {
  margin: 13px 0 8px -28px;
  color: #333333;
}

.topnav > div.menuBarItem > i.icon-reset:hover {
  color: #555555;
}

.topnav > div.menuBarItem > input {
  margin: 8px;
}

.topnav > div.menuBarItem i.topMenuIcon:hover {
  color: var(--color-ui-pri);
}

div#logo-title {
  display: flex;
}

.icon-petrolette {
  color: var(--color-ui-sec);
}

.icon-w3c {
  color: var(--color-ui-success);
}

.logoType i.icon-petrolette {
  display: block;
  cursor: pointer;
  font-size: 24pt;
  margin: 6px 12px 6px 6px;
  color: var(--color-ui-sec);
}

i.icon-petrolette:hover,
i.icon-petrolette.writing {
  color: var(--color-ui-pri);
}

i.icon-petrolette::before {
  font-style: italic !important;
}

i.icon-petrolette:hover {
  font-style: normal !important;
}

div#logo-title > div {
  flex: 1 0;
}

.logo-title {
  color: var(--color-ui-pri);
  display: var(--logo-display);
  font-family: LobsterRegular, Helvetica, Arial, sans-serif;
  font-size: 36pt;
}


.introjs-tooltiptext a {
  color: var(--color-ui-sen) !important;
}

.introjs-tooltiptext a:hover {
  color: var(--color-ui-sec) !important;
}

.ui-tab.ui-state-active a,
.ui-tab.ui-state-active i,
.ui-tab.ui-state-default a {
  color: var(--color-fg1);
}

.ui-tab.ui-state-active i {
  color: var(--color-fg1);
}

.ui-tab.ui-state-active i:hover {
  color: var(--color-fg2);
}

[class ^= "icon-"]::before,
[class *= " icon-"]::before {
  display: initial;
  margin: 0;
}

#backToTop,
#backToTop i {
  transition: opacity 0.3s linear;
}

#backToTop {
  cursor: pointer;
  z-index: 2;
  background: var(--color-ui-qua);
  border-radius: 35px;
  bottom: 20px;
  display: block;
  display: none;
  height: 50px;
  opacity: 0.5;
  position: fixed;
  right: 20px;
  text-decoration: none;
  width: 50px;
}

#backToTop i {
  color: var(--color-ui-pri);
  font-size: 19px;
  left: 18px;
  margin: 0;
  position: relative;
  top: 13px;
}

#backToTop:hover {
  opacity: 1;
}

#load-spinner > div > i {
  line-height: 0;
  font-size: 8em;
}

#backToTop:hover i {
  top: 5px;
}

#load-spinner > div > div {
  margin: 2em 0 0 0;
  color: var(--color-fg1);
  font-size: 12pt;
}

#no-script {
  padding: 1em;
  margin: 3vh auto;
  background: var(--color-ui-qua);
}

#preload {
  height: 0;
  overflow: hidden;
  width: 0;
}

#preload > .logo-title {
  font-family: LobsterRegular, Helvetica, sans-serif;
}

.feed-header > .feed-title {
  flex-basis: auto;
  flex-grow: 4;
  flex-shrink: 1;
  /* display:flex; */
  /* align-items: center; */
  /* font-family: "Aveny T WEB", Arial, sans-serif; */
  font-family: BebasNeueRegular, Verdana, sans-serif !important;
  /* font-stretch: ultra-condensed; */
  /* font-style: normal; */
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--feed-title-font-size);
  /* text-transform: uppercase; */
  /* margin-top: var(--title-padding-top); */
  font-style: oblique;
  /* height: 30px; */
  margin-left: var(--title-margin-left);
  text-overflow: ellipsis;
  color: var(--color-fg6);
  overflow: hidden;
  display: block;
  width: 100px;
  white-space: nowrap;
}

#preload > .feed-title {
  font-family: BebasNeueRegular, Helvetica, sans-serif;
}

#preload > .fontello {
  font-family: fontello, Impact, fantasy;
}

h1,
h2,
h3,
h4 {
  color: var(--color-ui-sec);
  margin-bottom: 0.3em;
  margin-top: 0.6em;
}

h1.rs-big-headline {
  margin-top: 0;
  margin-bottom: 0;
}

.rs-widget-icon {
  margin-left: 0.3em;
}

.rs-sub-headline {
  word-break: normal !important;
}

h3 {
  margin-top: 0;
}

h1 {
  color: var(--color-ui-title-one);
  margin-top: 0;
}

/* fieldset > p { */

/*   margin: 0  0 0.2em 0; */

/* } */

.ui-dialog p {
  margin: 0 0 0.4em 0.4em;
  color: var(--color-ui-pri);
}

kbd.key {
  background-color: var(--color-ui-pri);
  color: var(--color-ui-qua);
  border-radius: 3px;
  padding: 2px;
  margin: 0 2px;
  border: 1px solid var(--color-ui-qua);
}

ul {
  list-style-type: none;
}

ul.dialogTextList {
  list-style-type: lower-greek;
}

.ui-tab,
.ui-tabs,
ul,
li {
  padding: 0;
}

#no-script ul {
  list-style-type: disc;

  /* padding: .2em; */
}

#no-script h1 {
  font-style: italic;
  color: var(--color-ui-danger);
}

ul.help li {
  margin: 1em 0 0 1em;
}

#no-script ul > li {
  margin: 0.3em 0;

  /* padding: .2em; */
}

.ui-tab#new-group {
  width: 40px;
  background-color: var(--color-bg1);
}

.ui-tab.ui-state-default {
  color: var(--color-fg1);
  background: var(--color-bg1);
}

.ui-tab.ui-state-hover a {
  color: var(--color-hl1);
}

.ui-tab#new-group:hover,
.ui-tab.ui-state-hover {
  filter: brightness(0.9);
}

/* .ui-tab.ui-state-active { */
/*   border-top: 1px solid var(--color-ui-danger) !important; */
/* } */

i.feed-control {
  color: var(--color-fg5);
}

i.feed-control:hover {
  color: var(--color-fg6);
}

.ui-tab.ui-state-default a:hover {
  cursor: pointer !important;
  color: var(--color-fg2) !important;
}

.ui-tab.ui-state-active,
#tab-names,
#tabs {
  background: var(--color-bg3);
}

/* button.ui-state-focus { */

/*   border: 3px solid var(--color-ui-sec) !important; */

/* } */

i.item-icon {
  float: right;
  margin: 0.2em;
}

.ui-tab i.tab-closer {
  top: 2px;
  color: var(--color-bg1);
}

.ui-tab i.tab-closer:hover {
  color: var(--color-danger);
}

.dangerous:hover {
  color: var(--color-ui-danger);
}

.feed-header > .feed-title > a:link,
.feed-header > .feed-title > a:visited {
  color: var(--color-fg6);
}

.feed-header > .feed-title > a.danger:link,
.feed-header > .feed-title > a.danger:visited {
  color: var(--color-danger);
}

.feed-header > .feed-title > a.danger:hover,
.feed-header > .feed-title > a:hover {
  color: var(--color-fg2) !important;
}

li.feed-item.error > strong.key {
  color: var(--color-fg1);
}

li.feed-item.error > strong.value {
  color: var(--color-danger);
}

.spin {
  animation: spin-animation 0.5s infinite;
  display: inline-block;
  color: var(--color-ui-sec);
}

#waitScreen > .spin {
  font-size: 400%;
}

.rotate {
  display: inline-block;
  transition: transform 0.2s linear;
}

.reversed {
  transform: rotate(180deg);
}

#overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hidden {
  display: none;
}

#new-group.hidden {
  display: none !important;
}

#newTabButtonTooltip {
  position: absolute;
  top: 4em;
  right: 2em;
  z-index: 25;
  padding: 0.4em;
  color: var(--color-ui-pri);
  background-color: var(--color-ui-qua);
  border: 3px solid var(--color-ui-sec);
  border-radius: 3px;
}

input {
  margin: 0;
  padding: 0.4em;
}

.dead-center {
  height: 300px;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 300px;
}

select {
  width: 100%;
  height: 30px;
}

fieldset {
  color: var(--color-ui-pri);
  background: var(--color-ui-qua) !important;
  border: 0;
}

fieldset.menuForm {
  display: flex;
  background-color: var(--color-ui-qua);
}

fieldset.feedsMenuForm {
  background-color: var(--color-ui-qua) !important;
}

legend {
  color: var(--color-ui-pri);
}

legend.first {
  margin-top: 0.6em;
}

.menu legend {
  color: var(--color-ui-qui);
  margin-left: 14px;
  font-size: 9pt;
}

.js-enabled-only {
  display: none;
}

nav#sideMenu {
  border: none;
  height: 100%;
  left: var(--side-menu-width);
  padding: 0.3em 0 0 0;
  position: fixed;
  top: 0;
  transition: left 0.1s ease-out;
  width: var(--side-menu-width-expanded);
  z-index: 11;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-ui-oct) var(--color-ui-qua);
}

nav#sideMenu,
.topnav,
.ui-dialog,
.ui-dialog .ui-dialog-buttonpane {
  background: var(--color-ui-qua);
  border-color: var(--color-ui-qua);
}

/* nav#sideMenu .ui-button, */
/* #sync-box { */
/*   margin-bottom: 0.3em; */
/* } */

/* .left { */
/*   margin-right: 0.3em; */
/* } */

.results {
  outline: 1px solid var(--color-fg7) !important;
}

li.results {
  background-color: yellow !important;
  color: black !important;
  outline: 1px solid red;
}

li.results a:link,
li.results a:visited {
  color: black !important;
}

nav#sideMenu:hover {
  scrollbar-color: var(--color-ui-sec) var(--color-ui-qua);
}

nav#sideMenu.expanded {
  left: 0;
}

.ui-progressbar {
  position: relative;
}

.progress-label {
  position: absolute;
  left: 0.4em;
  top: 7px;
  color: var(--color-ui-oct);
}

.progress-label.on {
  color: var(--color-ui-pri);
}

.ui-progressbar .ui-progressbar-value {
  background: var(--color-ui-non);
  border: 1px solid var(--color-ui-non) !important;
  margin: 0;
}

#console {
  border: 3px solid var(--color-ui-pri);
  resize: vertical;
  height: 200px;
  min-height: 2.5em;
  max-width: 250px;
  scrollbar-width: thin;
  border-radius: 3px;
  /* background-color: var(--color-ui-console-bg); */
  color: var(--color-ui-console-fg);
  font-family: monospace;
  overflow-wrap: break-word;
  overflow: auto;
  text-align: left;
}

#console > div > span.prompt {
  margin-right: 3px;
  font-weight: 900;
  color: var(--color-ui-console-bg);
}

#console div.normal {
  color: var(--color-ui-console-normal);
}

#console div.error {
  color: var(--color-ui-console-error);
}

#console div.success {
  color: var(--color-ui-console-success);
}

#console div.warning {
  color: var(--color-ui-console-warning);
}

.ui-dialog .ui-dialog-buttonpane {
  margin: 0;
}

i.tab-icon {
  cursor: pointer;
  font-size: 0.7em;
  position: absolute;
  right: 3px;
}

.ui-slider-handle {
  /* top: -.4em; */
  height: 36px !important;
  line-height: 38px;
  min-width: 38px;
  text-align: center;
}

.ui-slider {
  height: 32px;
}

.ui-spinner {
  height: 32px;
  margin: 0;
}

.ui-spinner input {
  width: 32px;
}

button#feedGuessButton {
  margin-left: 0.4em;
}

a.feedErrorReportButton,
a.validateFeedButton {
  flex: 1;
}

.buttonLeft {
  margin-right: 0.4em;
}

.buttonRight {
  margin-left: 0.4em;
}

.rs-button {
  margin-right: 0;
}

/* .ui-button.last { */
/*   margin-right: 0; */
/* } */

.ui-widget-header,
th {
  background: none;
  color: var(--color-ui-sec);
  font-weight: bold;
}

.ui-widget-content,
.ui-widget-header {
  border: none !important;
}

/* .ui-widget-content { */
/*   color: var(--color-ui-pri) !important; */
/* } */

button.ui-state-success {
  background-color: var(--color-ui-success) !important;
}

.dialog button.help-button {
  background-color: var(--color-ui-success);
  /* border-color: var(--color-ui-success); */
  color: var(--color-ui-pri);
  padding: 0.4em;
}

.feed-header > .feed-handle,
.dialog .help-bookmarklet {
  cursor: -webkit-grab;
  cursor: grab;
}

#helpMiniButton {
  font-size: 9pt;
  font-weight: bold;
  height: 20px;
  padding: 1px;
  position: absolute;
  right: 2.8em;
  top: 8px;
  width: 120px;
}

ul.help {
  /* list-style-type: circle; */
  color: var(--color-ui-pri);
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 0 1em;
}

ul.help li::before {
  font-family: fontello, Impact, fantasy;
  margin: 0 0.5em 0 0;
  color: var(--color-ui-sen);
  font-size: 1.5em;
}

ul.help li.rss::before {
  content: "\E807";
  color: var(--color-ui-sen);
}

ul.help li.publish::before {
  content: "\E826";
  color: var(--color-ui-pri);
}

ul.help li.refresh::before {
  content: "\E817";
  color: var(--color-ui-sec);
}

ul.help li.www::before {
  content: "\E823";
  color: var(--color-ui-pri);
}

ul.help li.search::before {
  content: "\E813";
  color: var(--color-ui-success);
}

ul.help li.export::before {
  content: "\E803";
  color: var(--color-ui-sen);
}

ul.help li.cloud::before {
  content: "\E824";
  color: var(--color-ui-success);
}

/* label#killFeed:active { */

/*   background: var(--color-ui-danger) !important; */

/* } */

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  align-items: center;
}

.flex-box > label {
  flex: 1;
  flex-grow: 4;
}

#gallerySlideTransition {
  margin-top: 2px;
}

.grow {
  flex: 1 1;
}

.shrink {
  flex: 0 1 4em !important;
}

.unique {
  flex: 1 100%;
}

.grow,
.shrink,
.unique {
  margin: 0.1em;
}

/* .twin { */
/*   flex: 1; */
/* } */

span.ui-spinner,
.last {
  margin-right: 0;
}

label:last-child {
  margin-bottom: 0 !important;
}

/* .bottom { */

/*   margin-bottom: 0; */

/* } */

/* div.testFlex { */

/*   display: flex; */

/* } */

/* #spinner { */

/*   width: 2rem; */

/* } */

/* .noBottom { */

/*   margin-bottom: 0; */

/* } */

#tabs {
  overflow: hidden;
  white-space: nowrap;
}

#tabs > ul {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--color-fg4) var(--color-bg1);
}

#tabs > ul:hover {
  scrollbar-color: var(--color-fg5) var(--color-bg1);
}

#tabs > ul > li {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}

.column {
  white-space: initial;
  transition: transform 0.3s linear;
  margin: 0 0.2em;
}

.ui-dialog.ui-corner-all {
  border-radius: 0 !important;
}

img.warning {
  vertical-align: middle;
  width: 10em;
}

.huge {
  font-size: 8em;
}

div.dialogContent {
  display: flex;
  flex-direction: var(--dialog-flex-direction);
}

div.dialogContent > div.dialogImage,
div.questionDialog > div.icon {
  text-align: center;
  flex: 0 0 auto;
  min-width: 200px;
}

.tab {
  border: none !important;
  margin: 0 !important;
}

li.ui-tabs-tab {
  margin: 0 0 0 0 !important;
  border-radius: 0 !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-right: 1px solid var(--color-fg4) !important;
  outline-width: 0 !important;
}

li.tab-name:first-child {
  border-left: 1px solid var(--color-fg4) !important;
}

.panel {
  padding: 0.2em !important;

  /* flex-flow: row nowrap; */
  flex-flow: var(--panel-flex);

  /* align-items: center; */
  justify-content: space-between;
}

/* Column */

ul.column {
  /* min-height: 120px; */
  margin: 0.2em;
  flex: 1 1 0;

  /* flex: 1 0 auto; */

  /* flex: var(--column-flex); */
  align-content: center;
  position: relative;
  padding: var(--column-padding);
}

ul.column div.buttons {
  display: var(--column-buttons-display);
  border-radius: 3px;
  border: 3px dashed var(--color-ui-sep);
  color: var(--color-ui-sep);
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.4em;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 15px;
  width: 150px;
  z-index: 1 !important;
}

/* ul.column div.buttons > button { */
/*   margin-bottom: 0.2em; */
/* } */

/* Feed */

li.feed {
  position: relative;
  /* background: var(--color-bg1); */

  /* z-index: 2; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0 0 0.4em 0;
  min-height: 20px !important;
  width: 100%;
}

li.feed.selected {
  background: none !important;
  opacity: 0.6;
}

.feed-header {
  display: flex;
  flex-direction: row;
  background-color: var(--color-bg2);
  /* color: var(--color-fg5); */
  transition: all 0.3s linear;
  height: var(--header-height);
  max-height: var(--header-height);
  padding: 0;
}

.column .ui-sortable-placeholder {
  visibility: visible !important;
  outline: 3px dashed var(--color-fg2);
}

.feed-header > .feed-handle {
  background-color: transparent;
  border-left: 3px dotted var(--color-fg4);
  border-right: 3px dotted var(--color-fg4);
  flex-basis: 4px;
  flex-grow: 0;
  flex-shrink: var(--handle-flex-shrink);
  visibility: var(--handle-visibility);
}

.feed-header > .feed-controls {
  display: flex;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.feed-header .feed-controls div.collapsible {
  display: none;
}

.feed-control {
  cursor: pointer;
  font-size: var(--controls-font-size);
}

.feed-header > .feed-toggle {
  /* margin: 2px; */
  background-repeat: no-repeat;
  background-size: contain;
  min-width: var(--controls-toggle-size) !important;
}

i.feedIcon {
  transition: transform 0.2s linear !important;
  font-size: var(--controls-font-size);
  text-rendering: auto;
  /* margin-top: -2px !important; */
}

.icon-rss {
  color: var(--color-ui-rss) !important;
}

table tr {
  padding: 0.5em;
  text-align: left;
}

li.feed-item {
  font-size: 10pt;
  font-weight: bold;
  hyphens: auto;
  overflow-wrap: break-word;
  padding: 0.2em;
  word-break: break-word;
  word-wrap: break-word;
  background-color: var(--color-bg3);
}

table tr:nth-child(even),
li.feed-item:nth-child(even) {
  background-color: var(--color-bg4);
}

li.feed-item:not(.error):hover {
  background-color: var(--color-bg5);
}

li.feed-item > div.itemDiv > a > .ptl-img {
  float: left;
  height: auto;
  width: 30%;
  background-size: cover;
  margin: 0 0.2rem 0.2rem 0;
  /* width: 30%; */
  /* max-width: 30%; */
}

li.feed-item:not(.error) a {
  display: block;
  width: 100%;
}

li.feed-item img:hover {
  outline: 1px solid var(--color-fg2);
}

li.feed-item > div.itemDiv > a > .ptl-img.full > a img,
li.feed-item > div.itemDiv > a > .ptl-img.full {
  min-width: 100%;
  height: auto;
  width: 100%;
}

table#jslicense-labels1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 1px solid var(--color-ui-qui);
}

table#jslicense-labels1 td {
  padding: 0.5em;
}

table#jslicense-labels1 td a {
  text-decoration: underline;
}

.kbShortcutCol {
  white-space: nowrap;
}

li.feed div.feed-body {
  will-change: contents;
  border-bottom: 1px solid var(--color-bg2);
  border-left: 1px solid var(--color-bg1);
  border-right: 1px solid var(--color-bg1);
  margin: 0;
  /* height: 150px; */
  overflow-y: auto;
  /* resize: vertical; */
  scrollbar-width: thin;
  scrollbar-color: var(--color-fg4) var(--color-bg1);
}

/* Works on Chrome, Edge, and Safari */
li.feed div.feed-body::-webkit-scrollbar {
  width: 4px;
}

li.feed div.feed-body::-webkit-scrollbar-track {
  color: var(--color-fg4);
  background: var(--color-bg1);
}

li.feed div.feed-body::-webkit-scrollbar-thumb {
  background-color: var(--color-fg4);
}

li.feed div.feed-body:hover {
  scrollbar-color: var(--color-fg6) var(--color-bg1);
}

.folded {
  height: 0 !important;
}

.folded-error {
  height: 24px !important;
}

li.feed:hover div.feed-body {
  border-color: var(--color-bg5);
}

.feed-header > .feed-handle:hover {
  border-color: var(--color-hl1);
}

/* Responsive */

@media (hover: none) {
  a:active,
  a:hover {
    color: var(--color-fg1) !important;
  }

  li.feed-item:hover {
    background-color: transparent !important;
  }

  li.feed a:active,
  li.feed a:hover,
  .feed-control:hover,
  .item-icon:hover {
    color: transparent !important;
  }
}

.item-icon:hover {
  color: var(--color-ui-pri);
}

.introjs-skipbutton {
  color: var(--color-ui-pri) !important;
  font-size: 9pt;
}

h1.introjs-tooltip-title {
  color: var(--color-ui-sec) !important;
}

.introjs-skipbutton:hover {
  color: var(--color-ui-sec) !important;
}

.introjs-tooltipbuttons {
  border-top: none;
}

span.introjs-helperNumberLayer {
  /* background: linear-gradient(to bottom,#ff3019 0,#cf0404 100%); */
  background: var(--color-ui-sec);
}

div.introjs-helperLayer {
  background-color: rgba(255, 255, 255, 0.2);
}

.fancybox-thumbs {
  background-color: var(--color-fg4) !important;
}

/* IntroJS (help tooltips) */
.introjs-tooltip {
  background-color: var(--color-ui-qua) !important;
  border: 1px solid var(--color-ui-oct);
  color: var(--color-ui-pri) !important;
  width: 360px !important;
  max-width: 360px !important;
}

/* Gallery */

div.fancybox-caption a.ui-button.ui-corner-all {
  color: var(--color-ui-qua);
}

div.fancybox-caption a.ui-button.ui-corner-all:hover {
  text-decoration: none;
}

#remotestorage-widget > .rs-widget {
  margin: 0 0 0.4em 0;
  padding-left: 0;
  border-radius: 3px;
  background-color: #EDEDED;
}

#liberapay {
  flex-wrap: nowrap;
}

#liberapay a {
  flex: 0 0 0;
}

div#logo-title > .logo-title > a:link,
div#logo-title > .logo-title > a:visited {
  color: var(--color-ui-pri);
}

div#logo-title > .logo-title > a:hover {
  color: var(--color-ui-sec) !important;
}

.hover {
  cursor: pointer;
}

.hover:hover {
  color: var(--color-ui-sec) !important;
}

/* Javascript */

#js {
  background-color: var(--color-ui-qua);
}

#js h1 {
  padding-top: 2em;
}

#js h1,
#js p {
  margin-left: 40px;
}

#beggar {
  background-color: var(--color-ui-qua);
  border: 1px solid var(--color-ui-oct);
  border-radius: 5px;
  width: var(--beggar-width);
  /* height: 220px; */
  max-width: 100%;
  padding: 2em;
  position: sticky;
  bottom: 16px;
  left: 16px;
  z-index: 30;
  flex-direction: column;
}

span.image-legend {
  font-size: 9pt;
  margin-bottom: 0.3em;
}

#beggar > span.beggarIcon {
  font-size: 6em;
}

#beggar > span.beggarClose {
  position: absolute;
  top: 4px;
  right: 6px;
  cursor: pointer;
}

#beggar > span.beggarClose:hover {
  color: var(--color-ui-sec);
}

#beggar > a.ui-button {
  margin: 1em 0 0.5em 0;
}

#beggar > p {
  color: var(--color-ui-pri);
  margin: 0 0 0.2em 0;
  font-size: 11pt;
}

/* #beggar > h4 { */
/*   margin-top: 0; */
/* } */

#notify {
  background-color: var(--color-ui-qua);
  border: 1px solid var(--color-ui-sec);
  border-radius: 5px;
  width: 200px;
  /* height: 220px; */
  /* max-width: 100%; */
  padding: 1em;
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 30;
  /* flex-direction: column; */
}

audio {
  background-color: var(--color-ui-pri);
  border-radius: 0;
  height: 24px;
  width: 100% !important;
}

video {
  width: 100% !important;
  height: auto !important;
}

div.itemDiv {
  max-width: auto;
}

#ptlSearch {
  display: flex;
  flex-direction: row;
}

#ptlSearch .ptlSearchButton {
  flex: 1;
}

#ptlSearch input {
  transition: opacity 0.2s linear;
  flex: 2;
}

/* .ptlSearch .search { */
/*   width: 100%; */
/*   display: flex; */
/* } */

/* .ptlSearch .searchTerm { */
/*   width: 100%; */
/*   border: 1px solid var(--color-ui-qua); */
/*   background-color: var(--color-ui-qua); */
/*   border-right: none; */
/*   border-radius: 3px 0 0 3px; */
/*   outline: none; */
/*   color: var(--color-ui-pri); */
/* } */

/* .ptlSearch .searchTerm:focus { */
/*   color: var(--color-ui-sec); */
/*   border: 1px solid var(--color-ui-qui); */
/*   background-color: var(--color-ui-pri); */
/* } */

/* .ptlSearch .searchButton { */
/*   width: 40px; */
/*   /\* height: 15px; *\/ */
/*   border: 1px solid var(--color-ui-qui); */
/*   background: var(--color-ui-qua); */
/*   text-align: center; */
/*   color: var(--color-ui-pri); */
/*   border-radius: 0 3px 3px 0; */
/*   cursor: pointer; */
/*   /\* font-size: 20px; *\/ */
/* } */
